.sidebarchathome {
    display: flex;
    padding: 15px;
    cursor: pointer;
    border-bottom: 3px solid #f6f6f6;
    align-items: center;
    /* justify-content: flex-start; */
    text-overflow: ellipsis;
}

.sidebarchathome > .MuiAvatar-root {
    display: flex;
    margin-right: 12px;
}

.sidebarchathome:hover {
    background-color: #ebebeb;
}

.sidebarchathome_info > h2 {
    font-size: smaller;
    margin-bottom: 8px;
}
.sidebarchathome_info > p {
    font-size: small;
  
}
.sidebarchathome_info {
    margin-left:15px
}
.sidebarchathome__check > .MuiAvatar-root {
    display:flex;
}